@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

* {
  font-family: sans-serif;
  margin: 0em;
  padding: 0em;
  background-color: transparent;
  font-family: 'Varela Round', sans-serif;
}

#mainContainer {
  background-image: url(styleImages/Artboard\ 1.png);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30em;
  margin: auto; 
  text-align: center;
  height: 100vh;
}

#titleContainer {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto auto auto;
}

.jobTitle {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 0;
  grid-row-end: 1;
  padding: 1em;
  
}

.shortlist {
  padding: 0.5em;
  border: none;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  box-shadow: 0em 0em 0.5em rgb(228, 152, 21);
  border-radius: 1em;
  background-color: white;
}

#jobInfoContainer {
  padding: 1em;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}

#jobDescription {
  background-color: white;
}

body {
  background-color: whitesmoke;
}

#header {
  padding: 1em;
}

h2 {
  font-size: 2.3em;
  letter-spacing: 0.2em;
  font-weight: normal;
}

#jobDescription {
  padding: 1em;
  margin: auto;
  box-shadow: 0em 0em 0.5em rgb(178, 207, 101);
  border-radius: 2em;
}

p {
  font-size: 1.6em;
}

.buttonContainer {
  display: flex;
  justify-content: space-around;
  align-self: top;
}

.button {
  font-weight: bold;
  color: whitesmoke;
  background-color: white;
  border: none;
  padding: 1em 2em;
  border-radius: 2em;
  display: flex;
  justify-content: center;
  margin: 1em;
}

.buttonLabel {
  display: flex;
  justify-content: center;
  width: 3em;
}

.dislike {
  box-shadow: 0em 0em 0.5em rgb(232, 73, 31);
  border: rgb(232, 73, 31) 0.2em solid;
  color: rgb(232, 73, 31);
}

.like {
  box-shadow: 0em 0em 0.5em rgb(178, 207, 101);
  border: rgb(178, 207, 101) 0.2em solid;
  color: rgb(178, 207, 101);
}

.ignore {
  box-shadow: 0em 0em 0.5em rgb(228, 152, 21);
  border: rgb(228, 152, 21) 0.2em solid;
  color: rgb(228, 152, 21);
}

.nav {
  background-color: rgb(127, 185, 230);
  box-shadow: 0em 0em 0.5em rgb(127, 185, 230);
}