@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

* {
  margin: 0em;
  padding: 0em;
  font-family: 'Varela Round';
}

#mainContainer {
  background-image: url(styleImages/Artboard1.png);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 100vh;
}

h2 {
  font-size: 2.3em;
  letter-spacing: 0.2em;
  font-weight: normal;
}

.button > p {
  font-size: 1.2em;
}

.buttonContainer {
  display: flex;
  justify-content: space-around;
}

.button {
  font-weight: bold;
  color: whitesmoke;
  border: none;
  padding: 1em 2em;
  border-radius: 2em;
  margin: 1em;
}

.buttonLabel {
  display: flex;
  justify-content: center;
  width: 2em;
}

.nav {
  background-color: rgb(127, 185, 230);
  box-shadow: 0em 0em 0.5em rgb(127, 185, 230);
}

.swipeHistoryItem {
  display: grid;
  grid-template-rows: 0.5fr 1fr;
  grid-template-columns: 0.3fr 1fr 0.3fr;

  height: 6em; 
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 0.5em;
  max-width: 50em;
  
  background-color: white;
  box-shadow: 0em 0em 0.5em rgb(178, 207, 101);
  border: rgb(178, 207, 101) 0.1em solid;
}

.swipeHistoryItemImage {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;

  max-height: 100%;
  max-width: 100%;
  border-radius: 3em;

  display: flex;
  justify-self: center;
  align-self: center;
}

.swipeHistoryChoice {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;

  max-height: 100%;
  max-width: 100%;
  padding: 0.5em;
  border-radius: 3em;

  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  align-self: center;

  font-size: 2em;
}

.liked {
  background: rgb(178, 207, 101);
}

.disliked {
  background: rgb(232, 73, 31);
}

.swipeHistoryItemTitle {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;

  padding: 0.3em;
  text-align: left;
}

.swipeHistoryItemDescription {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;

  padding: 0.3em;
  text-align: left;
  overflow: hidden;
}
