@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Varela+Round&display=swap');

:root {
  --main-bg-color: white;
  --main-color: black; /* where we set background we also need to set color */
  --PONTBlue: #36b6b0; /* renamed from verdigris to PONTBlue (though it is more turqoise so blue may not be the best choice) */
  --PONTLightBlue: #7fb9e6; /* renamed from teagreen to PONTLightBlue */
  --PONTRed: #e8491f; /* renamed from flame to PONTRed */
  --PONTGreen: #b2cf65; /* renamed from middlegreenyellow to PONTGreen */
  --PONTOrange: #e69911; /* rename from gamboge to PONTOrange */
  --davys-gray: #333;
  --title-font: 'Varela Round', sans-serif;
  --text-font: 'Open Sans', sans-serif;

  /* defaults before the fonts load */
}

* {
  padding: 0;
  margin: 0;
  font-family: var(--title-font);
}

/* set global margin and padding to 0 so defaults don't interfer with layout */

body {
  background-color: var(--main-bg-color);
  color: var(--main-color);
  background-image: url('img/pontoon-webbanner-bg-blur-final.png');
  overflow-x: hidden;

  /* to prevent the horizontal scrollbar turning on automatically with the vertical scroll bar */
}

/* TODO: Make the colors for the navbar-slide menu match the rest of the pages. */
#navbar-slide {
  position: absolute;
  width: 20em;
  top: 5em; /* just under the navbar */
  bottom: 0; /* bottom of screen because the <nav> doesn't count */
  background-color: var(--davys-gray);
  display: none;
  list-style: none;
}

#navbar-slide.active {
  display: flex;
  flex-direction: column;
  right: 0;
  z-index: 1;
}

.navbar-slide-item {
  display: block;
  color: var(--main-bg-color);
  text-decoration: none;
  margin: 0;
  padding: 2rem;
  text-align: center;
}

.navbar-slide-item:hover {
  background-color: var(--PONTBlue);
}

#title {
  font-size: 2rem;
  color: var(--PONTRed);
  text-align: center;
}

h1 {
  margin: 0.5em;
}

#navbar {
  box-shadow: 0 0 0.25rem 0.01rem var(--davys-gray);
  width: 100vw;
  height: 5em;
  display: flex;
  justify-content: center;
}

#navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  min-width: 20em;
  width: inherit;
  max-width: 50em;
}

#logo {
  width: 15em;
  height: 3em;
  object-fit: scale-down;
  margin: 0.25rem;
}

#nav-btn {
  margin: 0 0.5rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#swipePage {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 4em 4em auto 5em;
  max-width: 50em;
  margin: auto;
}

#swipePage > #title {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 4;
}

#info {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  max-width: 30em;
  max-height: 25em; /* how to make this grow until parent grid fills screen? */
  padding: 1em;
  margin: auto;
  background-color: var(--main-bg-color);
  overflow: hidden;
}

#shortlistbtn {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  padding: 1em;
  margin: 0.5em auto;
}

#info-text { /* maybe limit text length in this box with JS?? */
  overflow: hidden;
  font-family: var(--text-font);
}

#btn-dislike {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
  margin: auto;
}

#btn-showLater {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
  margin: auto;
}

#btn-like {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
  margin: auto;
}

.listItemContainer {
  display: grid;
  grid-template-rows: 0.5fr 1fr;
  grid-template-columns: 5em 1fr 25%; /* allows for button on shortlist to be mobile friendly */
  min-height: 6em;
  max-width: 40em; /* could be a touch wider */
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 0.5em;
  background-color: white;

  /* TODO: Remove the border and the 'glow' effect?? Or make separate glow effect for swipeHistory that match the colors of the individual buttons at the swipe-page. */
  box-shadow: 0 0 0.5em rgb(178, 207, 101);
}

.questionnaireReviewTitle {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 0.3em;
  text-align: center;
  border-bottom: 0.15em dashed var(--PONTLightBlue);
}

.questionnaireAnswer {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 100%;
  width: 50em;
  margin: 0.5em 0;
}

.questionnaireAnswer > * {
  display: flex;
  align-items: center;
  justify-content: center;
  width: inherit;
  max-width: 40%;
  height: 3em;
  margin: 0.5em 0;
  border-radius: 3em;
  border: thin solid var(--davys-gray);
  text-transform: capitalize; /* TODO: Capitalize or uppercase? */
}

.questionnaireAnswer > .selected.yes {
  background: var(--PONTGreen);
}

.questionnaireAnswer > .selected.no {
  background: var(--PONTRed);
}

.swipeItemImg {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  max-height: 80%;
  max-width: 80%;
  border-radius: 3em;
  display: flex;
  justify-self: center;
  align-self: center;
}

.swipeChoice {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  max-height: 100%;
  max-width: 100%;
  padding: 0.5em;
  border-radius: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  align-self: center;
  font-size: 2em;
}

.viewMore {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  max-width: 100%;
  max-height: 2em;
  justify-self: center;
  align-self: center;
}

.liked {
  background: var(--PONTGreen);
}

.disliked {
  background: var(--PONTRed);
}

.listItemTitle {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 0.3em;
  text-align: left;
}

.swipeItemDesc {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  padding: 0.3em;
  text-align: left;
  overflow: hidden;
}

/* TODO: Make Text in #info-text ellipse instead of being cut off. */
#job-title {
  font-size: 3rem;
  text-align: center;
  color: var(--PONTRed);
  margin: 2rem 0 2rem;
}

.button {
  color: var(--main-bg-color);
  padding: 0.75em 2em;
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 0.5em;
  margin: 0 0.25rem;
  width: 100%;
  max-width: 10rem;
  min-height: 4.5em;

  /* allows buttons to look the same in mobile and desktop view (can be removed to allow for thinner buttons in desktop view) */

  /* Prevents button from getting marked */
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Likely future */
}

.button:hover {
  cursor: pointer;
}

.btn-type1 {
  /* TODO get better button variable names (red button, blue button etc maybe) */
  background-color: var(--PONTRed);
  border: 0.2em solid var(--PONTRed);
}

/* do we need hover? */

/*
.btn-type1:hover {
  background-color: #e84b1fd8;
}
*/

.btn-type1:active {
  color: var(--PONTRed);
  background-color: var(--main-bg-color);
}

.btn-type2 {
  background-color: var(--main-bg-color);
  color: var(--PONTLightBlue);
  border: 0.2em solid var(--PONTLightBlue);
}

/*
.btn-type2:hover {
  background-color: var(--PONTLightBlue);
  color: var(--main-bg-color);
}
*/

.btn-type2:active {
  color: var(--main-bg-color);
  background-color: var(--PONTLightBlue);
}

.btn-type3 {
  background-color: var(--PONTGreen);
  border: 0.2em solid var(--PONTGreen);
}

/*
.btn-type3:hover {
  background-color: var(--main-bg-color);
  color: var(--PONTGreen);
}
*/

.btn-type3:active {
  color: var(--PONTGreen);
  background-color: var(--main-bg-color);
}
