@import url("https://fonts.googleapis.com/css?family=Spartan&display=swap");

body {
    margin: 0;
    padding: 0;
    font-family: 'Spartan';
}

button {
    background-color: #F8F9FB;
    border: solid 1.25px;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Spartan';
    font-weight: 500; /* medium */
    border-radius: 8px;

    color: #319E79;

    /* Prevents button from getting marked */
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */  
}

button:hover {
    background-color: #319E79;
    color: #F8F9FB;
    cursor: pointer;
}

.btn-no {
    color: red;
}

.btn-no:hover {
    background-color: red;
}

.btn-no:active {
    background-color: rgb(128, 1, 1);
}

.btn-ignr {
    color: lightskyblue;
}

.btn-ignr:hover {
    background-color: lightskyblue;
    color: #F8F9FB;
}

.btn-ignr:active {
    color: lightskyblue;
}

button:active {
    background-color: #298264;
}

.mobile-wrapper {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin-left: 20%;
    margin-right: 20%;
    height: 100vh;
    align-items: start stretch;
    justify-content: stretch;
    background-color: #FAFAFA;
}

.swipe-card {
    height: 80%;

    margin: 2% 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #F8F9FB;
    box-shadow: 0px 0 10px 1px rgba(104, 104, 104, 0.315);
}

.navbar {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 2.5% 5%;
    box-shadow: 0px 0 10px 1px rgba(104, 104, 104, 0.315);
}

.swipe-buttons, #title, #info, #question {
    text-align: center;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.swipe-buttons {
    margin-bottom: 10%;
}

#title {
    font-weight: bold;
    font-size: 3rem;
}

#info {
    font-size:large;
}

#question {
    font-size: x-large;
}

.navbtn {
    background-color: transparent;
    margin-right: 2.5rem;
    filter: invert(56%) sepia(12%) saturate(2124%) hue-rotate(108deg) brightness(91%) contrast(85%);
}

.navbtn:hover {
    filter: invert(37%) sepia(12%) saturate(4713%) hue-rotate(119deg) brightness(96%) contrast(68%);
    animation: scale-up-center 0.4s;
    animation-fill-mode: forwards;
}

.navbtn:focus {
    outline: 0;
}


@keyframes scale-up-center {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0.9);
    }
  }