.card {
    width: 18rem;
    flex-direction: column;
    /* top right bottom left*/
    margin: 2rem;
    border-radius: 8px;
    background-color: var(--main-bg-colour);
}

.row {
    justify-content: flex-start;
}


.card .btn-group {
    margin-top: 0;
}

@media only screen 
and (max-device-width : 800px) {
    .row {
        justify-content: center;
    }
}